#article-warpper {
    display: flex;
    flex-direction: column;
    color: var(--white-color);
    text-align: center;
    justify-content: center;
    align-items: center;
    width: calc(min(100%, 700px));
    aspect-ratio: 1/1;
    border-radius: 50%;
    gap: 1rem;
    border: 2rem solid var(--gray-color-2);
    padding: 2rem;
    background-image: var(--imagen-background);
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, .4);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, .2));

    .logo-container {
        height: 3rem;
        aspect-ratio: 1/1;
        overflow: hidden;

        img {
            height: 100%;
            filter: drop-shadow(0 0 3px var(--black-color) );
        }
    }

    h4 {
        font-size: 1rem;
        font-weight: bold;
        cursor: default;
    }

    h2 {
        font-size: 3rem;
        color: var(--blue-color);
        text-shadow: 0 0 10px var(--black-color);
        cursor: default;
        /* background-color: rgba(0, 0, 0, .6); */
    }

    .paragraph {
        font-size: .8rem;
        cursor: default;
        /* background-color: rgba(0, 0, 0, .6); */
        border-radius: 5px;
        color: var(--white-color);
    }
}