#section-two{
    height: calc(100vh - var(--height-header));
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: center;
    /* color: black */
}

.container-section-two{
    height: 90%;
    width: 80%;
    display: grid;
    grid-template-columns: 2fr .1fr 2fr;
    text-align: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    /* background-color: red; */

    .stickers-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        width: 100%;
    }
}