#article-section-three {
    margin-bottom: 6rem;
    background-color: var(--gray-color-2);
    width: 50rem;
    height: 13rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 2rem;
    border-radius: 50px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: .3s ease;

    h4 {
        grid-column: 2/3;
        font-size: 100%;
        color: var(--blue-color);
        /* background-color: green; */
    }

    p {
        grid-column: 2/3;
        font-size: min(1.2rem, 80%);
        /* background-color: blue; */
    }

    &:hover {
        background-color: var(--blue-color);
        color: var(--white-color);
        transition: .3s ease;

        h4 {
            color: var(--white-color);
        }
    }
}